footer#footer-contents   
    div.col-4.runner-left
        i(class="far fa-copyright" style="padding-right: 5px;")
        span  Sorting Alg Games

    div.col-4.runner-center
        i.fas.fa-gamepad

    div.col-4.runner-right
        a(class='link-text' href='/') Home
        //div.line-seperator
        //a(class='link-text' href='/info/about') About
        div.line-seperator
        a(class='link-text' href='/admin/login') Admin
