extends index.pug

block content 
    div.select-menu
        h1(style="text-align: center;") Select A Sorting Algorithm Game

        div(style="display: flex; align-items: center; justify-content: center")
            a(href="/merge_sort")
                button.btn.btn-primary Merge Sort