html
  head
    include includes/head

    //-link(rel="icon" href="../imgs/BeerEmoji_favicon_io/favicon.ico")
    
    block scripts

    title Sorting Algs - #{tabTitle}
  body
    include includes/header

    div(class="default-page" id="page-contents")
      block content

    include includes/footer
