extends index.pug
block scripts 
    script(type="text/javascript" src="/js/BinaryTree.js")
    script(type="text/javascript" src="/js/mergeSort.js")
    script(type="text/javascript" src="/js/logging.js") 
    case algLvl
        when "1"
            script(type="text/javascript" src="/js/merge_sort_lvl1.js")
            script(type="text/javascript" src="/js/formatLvl1Row.js")
            script(type="text/javascript" src="/js/timeTracker.js")

        when "2"
            script(type="text/javascript" src="/js/formatRow.js")
            script(type="text/javascript" src="/js/merge_sort_lvl2.js")
            script(type="text/javascript" src="/js/feedback.js")
            script(type="text/javascript" src="/js/dragDropLvL2.js")
            script(type="text/javascript" src="/js/timeTracker.js")
            
        default    
            script(type="text/javascript" src="/js/formatRow.js")
            script(type="text/javascript" src="/js/merge_sort_lvl3plus.js")
            script(type="text/javascript" src="/js/feedback.js")
            script(type="text/javascript" src="/js/dragDropLvL2.js")
            script(type="text/javascript" src="/js/timeTracker.js")
            
            
            
            

//- Here as an example of how to include level specific script
    // level 1 and 2 will share text feedback
    // level 1 needs special colour and animation feedback elements
    case algLvl
        when 1
            script(type="text/javascript" src="/js/text_feedback.js")
            script(type="text/javascript" src="/js/lvl_1_feedback.js")
        when 2
            script(type="text/javascript" src="/js/text_feedback.js")
        default
            script(type="text/javascript" src="/js/feedback.js")


block content 
    case algLvl
        when "1"
            div#gameboard(style="width: 100%; display: flex; flex-direction: column")
                div.arr-holder(style="order: -1") 
                    div.arr-row(style="width: 30%")
                        button.btn.btn-secondary(onclick="confirmQuit()")= "Quit"
                        button.btn.btn-secondary#timer(style="margin-left: 20px; cursor: default")= "00:00:00"
                    div.arr-row(style=`height: 75px; width: 40%`)
                        div#msg
                    div.arr-row(style="width: 30%")
                        div.btn-group
                            button.btn.btn-secondary#prev-btn(onclick="getPrevRow()")
                                i.fas.fa-arrow-left 
                            button.btn.btn-secondary#next-btn(onclick="getNextRow()")
                                i.fas.fa-arrow-right  
                        div.arr-row(style="width: 30%")
                        button.btn.btn-secondary#nextLvl-btn(onclick="nextLevel()")= "Next Level"      

        when "5"
            div#gameboard(style="width: 100%; display: flex; flex-direction: column")
                div.arr-holder(style="order: -1") 
                    div.arr-row(style="width: 30%")
                        button.btn.btn-secondary(onclick="confirmQuit()")= "Quit"
                        button.btn.btn-secondary#timer(style="margin-left: 20px; cursor: default")= "00:00:00"
                    div.arr-row(style=`height: 75px; width: 40%`)
                        b
                            div#msg
                    div.arr-row(style="width: 30%")
                        button.btn.btn-secondary#nextLvl-btn(onclick="returnHome()")= "Complete Game"
                        button.btn.btn-secondary#mistake-count 
                            span Mistakes 
                            span#mistake-num 0
                            span /3
                div.center-modal#loss-modal
                    div.modal-dialog
                        div.modal-content
                            div.modal-header(style="display: block; padding-bottom: 0")
                                h3#modalMsg 
                                h5 How Would You Like To Proceed:
                            div.modal-body(style="display: flex; flex-direction:column")
                                button.btn.btn-primary.modal-btn#reset-btn(onclick="window.location.href=window.location.href")
                                    div Restart Level
                                    i.fas.fa-sync
                                button.btn.btn-primary.modal-btn(onclick='window.location.href="/merge_sort"')
                                    div Change Level
                                    i.fas.fa-bars
                                button.btn.btn-primary.modal-btn(onclick='window.location.href="/"')
                                    div Switch to a New Algorithm
                                    i.fas.fa-times
                                button.btn.btn-danger.modal-btn(onclick='window.location.href="/"')
                                    div Quit
                                    i.fas.fa-times
               
        default
            div#gameboard(style="width: 100%; display: flex; flex-direction: column")
                div.arr-holder(style="order: -1") 
                    div.arr-row(style="width: 30%")
                        button.btn.btn-secondary(onclick="confirmQuit()")= "Quit"
                        button.btn.btn-secondary#timer(style="margin-left: 20px; cursor: default")= "00:00:00"
                    div.arr-row(style=`height: 75px; width: 40%`)
                        b
                            div#msg
                    div.arr-row(style="width: 30%")
                        button.btn.btn-secondary#nextLvl-btn(onclick="nextLevel("+algLvl+")")= "Next Level" 
                        button.btn.btn-secondary#mistake-count 
                            span Mistakes 
                            span#mistake-num 0
                            span /3
                div.center-modal#loss-modal
                    div.modal-dialog
                        div.modal-content
                            div.modal-header(style="display: block; padding-bottom: 0")
                                h3#modalMsg 
                                h5 How Would You Like To Proceed:
                            div.modal-body(style="display: flex; flex-direction:column")
                                button.btn.btn-primary.modal-btn#reset-btn(onclick="window.location.href=window.location.href")
                                    div Restart Level
                                    i.fas.fa-sync
                                button.btn.btn-primary.modal-btn(onclick='window.location.href="/merge_sort"')
                                    div Change Level
                                    i.fas.fa-bars
                                button.btn.btn-primary.modal-btn(onclick='window.location.href="/"')
                                    div Switch to a New Algorithm
                                    i.fas.fa-times
                                button.btn.btn-danger.modal-btn(onclick='window.location.href="/"')
                                    div Quit
                                    i.fas.fa-times
                                
                                
                                

