@import "runners.css";

:root {
  /*----- Heights -----*/
  --header-l-height: 80px;
  --footer-l-height: 50px;

  /*-- transition times for elements neeeding same time */
  --theme-trans-time: 0.8s;
  /*----- Colors -----*/
  /*-- colors with t prefix are same but transparent */
  /*-- c- colors are followed by what they contrast */
  /*-- colors prefixed with v stand for very*/

  /* blues */
  --dark-blue: #000050;
  --med-blue: #8a8aff;
  --c-dark-blue: rgb(255, 250, 240); /* Very light orange */

  /* greens */
  --v-light-green: rgb(150, 235, 150);
  --t-v-light-green: rgb(150, 235, 150, 40%);
  --light-green: rgb(95, 165, 95);
  --med-green: rgb(75, 145, 75);
  --dark-green: rgb(55, 125, 55);

  /* purples */
  --med-purple: rgb(140, 75, 190);
  --dark-purple: rgb(40, 0, 70);
  --v-dark-purple: rgb(10, 0, 20);
  --c-dark-purple: white; /*rgb(245, 235, 235); /* Very light pink */

  --animation-translatex: 0%;
}

body {
  min-height: 100vh;
}

/*----- Default Page CSS -----*/
.default-page {
  width: 100%;
  min-height: calc(
    100vh - var(--header-l-height) - var(--footer-l-height)
  ); /* change later to calc height - footer - header*/
  display: flex;

  /*newly added */
  padding: 1rem;
  margin-bottom: var(--footer-l-height); /* Accounts for footer */
  transition: background-color var(--theme-trans-time) ease;
}

/*----- Buttons -----*/
.btn-round {
  font-size: 100%;

  height: 35px;
  width: 35px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
}

#next-btn, #prev-btn {
  font-size: 20px;
}
/* non game pages*/
.select-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  height: inherit;
}

.lvl-sel-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* Array holders*/

.arr-row {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.arr-holder {
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
}
/* Array atyling */
.arr {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
  height: 45px;
  width: 45px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  transition: background-color 0.5s ease;
}
.arr-start {
  border-top-left-radius: 25%;
  border-bottom-left-radius: 25%;
  border-left: 2px solid black !important;
}
.arr-single {
  border: 2px solid black;
  border-radius: 25%;
}
.arr-end {
  border-top-right-radius: 25%;
  border-bottom-right-radius: 25%;
  border-right: 2px solid black !important;
}
.num-slot {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.arr-row > .arr {
  animation: append-animate-variables 0.8s linear;
}

@keyframes append-animate {
  from {
    transform: translatex(50%) translatey(-50%);
  }
  to {
    transform: translatex(0%) translatey(0%);
  }
}

@keyframes append-animate-variables {
  from {
    transform: translatex(var(--animation-translatex)) translatey(-50%);
  }
  to {
    transform: translatex(0%) translatey(0%);
  }
}

/* Loss modal*/
.center-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0;
}
.modal-btn {
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  width: 100%; 
  justify-content: space-between;
  margin: 5px 0;
}

/* Login page */
.login-item {
  padding: 10px;
}
.form-control.login {
  border: 1px solid black;
}
.login-form {
  display: flex; 
  flex-direction: column; 
  align-items: center
}
.login-title {
  font-weight: bold;
  font-size: 25px;
}
.login-section {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-box {
  border: 2px solid;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  min-width: 300px;
  /* background-color: white; */
}