extends login_index.pug

block content 
    form(class="login-form" method="POST" action="/login/create_new_account")
        div.login-item
            label(for="studentId") Student ID:
            input(type="text" class="form-control login" id="studentId" name="studentId")
        div.login-item
            //- for some reason logging all inputs?
            label(for="usr") Username:
            input(type="text" class="form-control login" id="usr" name="usr")
        div.login-item
            label(for="verify_usr") Verify Username:
            input(type="text" class="form-control login" id="verify_usr" name="verify_usr")
        div.login-item
            button(type="submit" class="btn btn-success") Create Account
        div.login-item
            a(class="form-text text-muted" href="/login" style="text-align:center") Return to Login ?

