extends login_index.pug

block content 
    div.login-item
        span Congrats #{username} (#{studentId}) on your new account.
    div.login-item
        a(href="/")
            button.btn.btn-info Continue to Home Page